/*reset*/

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*common*/

.cf::before,
.cf::after {
    content: "";
    display: block;
    clear: both;
}


/*PC参赛者详情页*/

.container .main {
    padding: 50px;
}

.avatar {
    margin-right: 90px;
    width: 350px;
    height: 350px;
    float: left;
}

.header {
    height: 300px;
    background: pink
}

.breadcrumb {
    background-color: transparent;
    margin: 20px 0;
    font-size: 20px;
}

.breadcrumb>li+li:before {
    content: "";
    padding: 0;
}

.breadcrumb a {
    color: #d5d5d5;
}

.breadcrumb .active {
    font-size: 34px;
}

.breadcrumb>li {
    display: inline-block;
    vertical-align: bottom;
}

.breadcrumb li::after {
    color: #CCCCCC;
    content: ">";
    padding: 0 5px;
}

.breadcrumb li:last-child::after,
.breadcrumb li:last-child::before {
    content: "";
}

.avatar img {
    height: 100%;
    width: 100%;
    background: pink;
    border-radius: 50%;
}

.intro {
    margin-bottom: 50px;
}

.intro_detail h1 {
    font-size: 28px;
    margin: 10px 0 18px 0;
}

.intro_detail h1 span {
    margin-right: 40px;
}

.intro_detail h1 i {
    display: inline-block;
    margin-right: 18px;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    background: url(../images/icon-list.png) 0 -68px no-repeat;
}

.intro_detail h1 span:nth-child(3) i {
    background-position: 0 -34px;
}

.intro_detail p {
    font-size: 20px;
    font-weight: 500;
}

.intro_detail {
    float: left;
}

.intro_content {
    border: 1px solid #f1f1f1;
    height: 160px;
    width: 628px;
    padding: 12px;
    float: right;
}

.describe {
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 33px;
}

.describe p {
    font-size: 28px;
}

.describe p:first-child {
    color: #d5d5d5;
}

.like {
    margin-bottom: 40px;
}

.like p {
    float: left;
    font-size: 28px;
    color: #d5d5d5;
    margin-bottom: 0;
    line-height: 57px;
}

.like p span {
    color: #004894;
    font-size: 24px;
}

.like button {
    background: #004894;
    border-radius: 0;
    color: #fff;
    font-size: 26px;
    border: 0;
    padding: 10px 60px;
    float: right;
}

.like button:hover,
.like button:active {
    background-color: #003a78;
}

.like button:focus {
    background-color: #002b59;
}

.like i {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(../images/icon-list.png) left top no-repeat;
}

.describe p:nth-child(2) {
    text-indent: 2em;
}

.container .main {
    border: 1px solid #004894;
    border-radius: 15px;
}

.design-list {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design-item {
    align-items: flex-start;
    width: 515px;
    margin-bottom: 40px;
    padding: 0;
}

.design-item img {
    display: inline-block;
    background: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        fontt-size: 62.5%;
    }
    .container {
        padding: 15px;
    }
    .container .main {
        padding: 10px;
    }
    .avatar {
        margin-right: 35px;
        width: 88px;
        height: 88px;
    }
    .intro {
        margin-bottom: 25px;
    }
    .intro_detail h1 {
        font-size: 1rem;
        margin: 10px 0 9px 0;
    }
    .intro_detail h1 span {
        margin-right: 20px;
    }
    .intro_detail h1 i {
        margin-right: 9px;
        width: 15px;
        height: 15px;
        background: url(../images/icon-list.png) 0 -34px no-repeat;
        background-size: 15px auto;
    }
    .intro_detail h1 span:nth-child(3) i {
        background-position: 0 -17px;
    }
    .intro_detail p {
        font-size: .8rem;
        margin-bottom: 4px;
    }
    .describe p {
        font-size: 12px;
    }
    .like {
        margin-bottom: 20px;
    }
    .like p {
        font-size: 12px;
        line-height: 27px;
    }
    .like p span {
        font-size: 12px;
    }
    .like button {
        font-size: 10px;
        padding: 5px 30px;
    }
    .like i {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        background: url(../images/icon-list.png) left top no-repeat;
        background-size: 100%;
    }
    .intro_content {
        width: 100%;
        height: 80px;
    }
    .design-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        /*min-width: 1170px;*/
        padding: 0;
    }
}


/*上传页面*/
.container form {
    width: 890px;
    margin: 0 auto;
}
.container input {
    font-size: 22px;
    height: 57px;
    border-radius: 0;
}
.container textarea {
    font-size: 22px;
    border-radius: 0;
}
.container button {
    border-radius: 0;
}